@import "tailwindcss";
@import "@nuxt/ui";
@import "./fonts.css";

@theme {
  --font-header: 'Unkempt', system-ui, sans-serif;
  --font-mono: 'Lexend', monospace;
  --font-sans:'Lexend', monospace;

  --color-primary:    oklch(0.899 0.186 97.85);
  --color-primary-50: oklch(0.991 0.011 89.66);
  --color-primary-100: oklch(0.982 0.022 89.76);
  --color-primary-200: oklch(0.956 0.061 92.11);
  --color-primary-300: oklch(0.938 0.091 93.36);
  --color-primary-400: oklch(0.92 0.127 95.01);
  --color-primary-500: var(--color-primary);
  --color-primary-600: oklch(0.749 0.155 97.88);
  --color-primary-700: oklch(0.594 0.123 98);
  --color-primary-800: oklch(0.439 0.091 97.75);
  --color-primary-900: oklch(0.293 0.061 98.42);
  --color-primary-950: oklch(0.214 0.044 97.08);

  --color-secondary:    oklch(0.576 0.12 165.59);
  --color-secondary-50: oklch(0.947 0.078 165.37);
  --color-secondary-100: oklch(0.903 0.153 165.62);
  --color-secondary-200: oklch(0.815 0.17 165.64);
  --color-secondary-300: oklch(0.741 0.155 165.35);
  --color-secondary-400: oklch(0.654 0.136 165.94);
  --color-secondary-500: var(--color-secondary);
  --color-secondary-600: oklch(0.486 0.101 165.98);
  --color-secondary-700: oklch(0.405 0.084 165.68);
  --color-secondary-800: oklch(0.312 0.065 165.76);
  --color-secondary-900: oklch(0.227 0.047 165.92);
  --color-secondary-950: oklch(0.173 0.037 164.84);

  --color-tertiary: oklch(0.637 0.196 5.92);
  --color-tertiary-50: oklch(0.967 0.012 4.91);
  --color-tertiary-100: oklch(0.935 0.025 5.18);
  --color-tertiary-200: oklch(0.878 0.05 5.64);
  --color-tertiary-300: oklch(0.814 0.08 5.22);
  --color-tertiary-400: oklch(0.723 0.133 5.28);
  --color-tertiary-500: oklch(0.637 0.196 5.92);
  --color-tertiary-600: oklch(0.538 0.169 6.03);
  --color-tertiary-700: oklch(0.441 0.138 5.98);
  --color-tertiary-800: oklch(0.343 0.107 6.08);
  --color-tertiary-900: oklch(0.241 0.076 6.04);

  --text-3xl--font-weight: 900; 


  --animate-bounce-in: bounce-in 1s ease-in 2;

  @keyframes bounce-in {
    0%, 100% {
      transform: translateY(0%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateY(-25%);;
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }


}

:root{
    --ui-bg: var(--color-primary-500);
    --ui-bg-muted: var(--ui-color-neutral-50);
    --ui-bg-elevated: var(--ui-color-neutral-100);
    --ui-bg-accented: var(--ui-color-neutral-200);
    --ui-bg-inverted: var(--ui-color-neutral-900);

    --ui-border: var(--color-secondary-800);

    --p-menubar-background: var(--color-secondary-500)!important;
    --p-menubar-border-color: var(--p-menubar-background)!important;
    --p-menubar-item-focus-background: var(--color-secondary-700)!important;
    --p-menubar-submenu-background: var(--color-secondary)!important;
}

.dark{
    --ui-bg: var(--color-secondary-950);
    --ui-border: var(--color-secondary-200);

    --p-menubar-background: var(--color-secondary-700)!important;
    --p-menubar-border-color: var(--p-menubar-background)!important;
    --p-menubar-item-focus-background: var(--color-secondary-700)!important;
    --p-menubar-submenu-background: var(--color-secondary-700)!important;
}

